<table class="responsive">
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Mostrar</th>
      <th class="text-center">Editar</th>
      <th class="text-center">Activa</th>
      <th class="text-center">Estado</th>
    </tr>
  </thead>
  <tbody>
	<%@stations.each do |station|%>
    	<tr>
	      <td><%=station.nombre%></td>
	      <td class="text-center"><%= link_to "<i class='fa fa-eye fa-2x'></i>".html_safe, station_path(station)%></td>
        <td class="text-center"><%= link_to "<i class='fa fa-pencil-square-o fa-2x'></i>".html_safe, edit_station_path(station) %></td>
        <td class="text-center"><%= check_box_tag 'station_active', station.id, station.enabled, class: 'checkbox'%></td>
        <td class="text-center"><%= check_box_tag 'station_status', station.id, station.deleted, class: 'checkbox'%></td>
	    </tr>
    <%end%>
	</tbody>
</table>
<%= will_paginate @stations, previous_label: "Anterior", next_label: "Siguiente" %>
