<% content_for :head do %>
  <%= stylesheet_link_tag 'stations', :media => 'all' %>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.validate' %>
  <%= javascript_include_tag 'additional-methods' %>
  <%= javascript_include_tag 'stations' %>
<% end %>
<%=render 'shared/admin_menu', page: 'stations'%>
<div id="container" class="container">
  <h1>Editar Estación</h1>
  <div class="col-md-3">
    <%= form_for(@station) do |f| %>
      <%= render 'form', f: f%>
      <div class="actions">
        <%= f.submit 'Editar', class: "btn btn-info"%>
      </div>
    <%end%>
  </div>
</div>
