<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.validate' %>
  <%= javascript_include_tag 'additional-methods' %>
  <%= javascript_include_tag 'stations' %>
<% end %>
<%=render 'shared/admin_menu', page: 'stations'%>
<div id="container">
  <h2>Estaciones</h2>
	<%=link_to "<i class='fa fa-plus-circle fa-2x'></i></br>Agregar".html_safe,new_station_path, class: 'btn btn-lg btn-primary' %>
  <%=link_to "<i class='fa fa-refresh fa-2x'></i></br>Actualizar".html_safe,stations_path(page: @page), class: 'btn btn-lg btn-info' %>

	<div class="small-12 large-10 columns">
		<div class="row">
	    <%=form_tag('#', method: :get) do%>
		    <div class="large-8 columns">
		      <div class="row collapse">
	      		<div class="small-10 columns">
		          <%=text_field_tag(:search_hint, '', placeholder: 'Buscar')%>
		        </div>
		        <div class="small-2 columns">
		        	<%=submit_tag 'Buscar', class: 'button postfix'%>
		        </div>
		      </div>
		    </div>
	    <%end%>
	  </div>
		<% if flash[:notice]%>
			<div data-alert class="alert-box success radius">
	  		<%= flash[:notice]%>
	  		<a href="#" class="close">&times;</a>
			</div>
		<% end %>
		<%= render 'stations'%>
	</div>
</div>
