<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui.min', :media => 'all' %>
  <%= stylesheet_link_tag 'stations', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'jquery.validate' %>
  <%= javascript_include_tag 'additional-methods' %>
  <%= javascript_include_tag 'stations' %>
<% end %>
<%=render 'shared/admin_menu', page: 'stations'%>
<div id="container" class="container">
  <div class="col-md-4" id="info">
      <p>
        <strong>Nombre:</strong>
        <%= @station.nombre %>
      </p>
      <p>
        <strong>Descripcion:</strong>
        <%= @station.descripcion %>
      </p>
  </div>
</div>
