<%= form_for(@station_sensor) do |f| %>
  <% if @station_sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station_sensor.errors.count, "error") %> prohibited this station_sensor from being saved:</h2>

      <ul>
      <% @station_sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :station_id %><br>
    <%=f.select(:station_id, options_from_collection_for_select(@stations,'id','nombre'))%>
  </div>
  <div class="field">
    <%= f.label :sensor_id %><br>
    <%=f.select(:sensor_id, options_from_collection_for_select(@sensors,'id','nombre'))%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
